name: Docker Build

on: 
  repository_dispatch:
    types: [Docker Build]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Building images
        run: chmod +x scripts/building_docker_images.sh; ./scripts/building_docker_images.sh